body {
    margin: 0;
    color: #242424;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 97%;
    max-width: 640px;
}


.intro {
    font-size: 27px;
    font-weight: 300;
    margin: 0;
    text-align: center;
}


.box {
    margin: 25px;
    padding: 17px;
    font-size: 17px;
    margin: 0;
    line-height: 25px;
}
.box p a {
    text-decoration: underline;
}


.title {
    font-size: 27px;
    font-weight: 300;
    margin: 0 0 8px 0;
}

