{{ partial "top.html" . }}

<div class="post-header mb2">
  <h1>{{ .Title }}</h1>
  <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span>
</div>

<article class="post-content">
  {{ .Content }}
</article>

<div class="py2 post-footer">
  <img src="{{ "images/vo.png" | relURL }}" alt="Jorin Vogel" class="avatar" style="padding-left: 4px; padding-bottom: 4px; background: black;" />
  <p>
    Hi, I'm Jorin. I build stuff for the web.
    <br>
    Let computers do the boring things. Feel free to send me a <a href="mailto:{{ .Site.Params.email }}">mail</a>.
  </p>
</div>

{{ if .Params.comments }}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function() {
      // Don't ever inject Disqus on localhost--it creates unwanted
      // discussions from 'localhost:1313' on your Disqus account...
      if (window.location.hostname == "localhost") return;
      var disqus_shortname = '{{ .Site.Params.disqus }}';

      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}

{{ partial "bottom.html" . }}
