{{ partial "top.html" . }}

<div class="post-header">
  <h2>{{ .Title }}</h2>
  <small class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</small>
</div>

<article class="post-content">
  {{ .Content }}
</article>

<div class="post-footer">
  <img src="{{ "images/vo.png" | relURL }}" alt="Jorin Vogel" class="avatar" width="64" height="64" style="padding-left: 4px; padding-bottom: 4px; background: black;" />

  <p>
    Hi, I'm Jorin.
    <br>
    I build stuff that does stuff with your data.
    <br>
    Machines should do all the boring things but don't let them win!
    <br>
    Feel free to send me a <a href="mailto:{{ .Site.Params.email }}">mail</a>.
  </p>
</div>

{{ if .Params.comments }}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function() {
      // Don't ever inject Disqus on localhost--it creates unwanted
      // discussions from 'localhost:1313' on your Disqus account...
      if (window.location.hostname == "localhost") return;
      var disqus_shortname = '{{ .Site.Params.disqus }}';

      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}

{{ partial "bottom.html" . }}
