<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <div class="clearfix"></div>
      <div class="social-icons">
        <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
        <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
        <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
