/* FONT */

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/FantasqueSansMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  font-style: italic;
  src: url('/fonts/FantasqueSansMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2');
}

body {
  font-family: 'Fantasque Sans Mono', serif;
	max-width: 600px;
	margin: auto;
	padding: 2% 5%;
	line-height: 140%;
	font-size: 120%;
}

h1 {
	color: black;
	font-size: 210%;
	line-height: 110%;
}

h2 {
	margin: 1% 0 0 0;
	font-size: 160%;
	line-height: 120%;
}

h3 {
  margin-top: 7%;
  margin-bottom: 1%;
  font-size: 140%;
	line-height: 120%;
}

p {
	margin: 5% 0;
}

a {
	text-decoration: none;
  color: #2f2fd2;
}

a:focus, a:hover {
  outline: none;
  text-decoration: underline;
}

a.alternate:focus,
a.alternate:hover,
a.alternate:focus > *,
a.alternate:hover > * {
	text-decoration: none;
  background: #f3f3f3;
}

small {
	font-size: 70%;
}

ol, ul {
  padding-left: 5%;
}

li {
  padding: 3% 0;
}
ul > li {
  list-style: circle;
}
ul.posts > li, ul.hide-list > li {
  padding: 1% 0;
}

header {
	margin-top: 2%;
	margin-bottom: 12%;
}

footer {
	margin-top: 24%;
	text-align: center;
	font-size: 80%;
}

hr {
  margin: 10% auto;
  height: 1px;
  width: 80%;
  border: none;
  outline: none;
  background: grey;
}

blockquote {
  font-style: italic;
}

.post-link {
	color: black;
}

.post {
	margin: 12% 0;
}

.post-header {
  margin-bottom: 3%;
}

.post-content {
  text-align: justify;
}

.post-content > p:first-child {
  font-style: italic;
}

.post-content img {
  max-width: 100%;
}

.post-footer {
	margin: 24% auto;
	text-align: center;
	font-style: italic;
	font-size: 80%;
}

.author {
  display: none;
}

.avatar {
	border-radius: 50%;
}

header a {
  margin-right: 2%;
  font-style: italic;
}

pre {
  border-width: 1px;
  border-color: #E7E7E7;
  border-style: solid;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  overflow-x: auto;
}

code, pre {
  font-family: 'Fantasque Sans Mono', monospace;
  font-size: 90%;
  color: #686868;
}

code:focus {
  outline: none;
}

ul.hide-list {
  padding-left: 0;
}
ul.hide-list > li {
  list-style: none;
}


/* Style for newsletter form */

input {
  padding: 3px;
  margin: 3% 0;
}

.newsletter-section {
  margin-bottom: 12%;
  font-size: 80%;
}


/*
 * Print style
 */

@media print {
  body {
    font-size: 80%;
    line-height: 120%;
    padding: 0 20%;
  }

  small, footer, .post-footer {
    font-size: 60%;
  }

  header, footer, .post-footer {
    display: none;
  }

  article a {
    color: black;
    text-decoration: underline;
  }

  .author {
    display: initial;
  }

  p, pre {
    page-break-inside: avoid;
  }

  .post {
    page-break-inside: avoid;
  }
}


/*
 * Github-inspired code highlighting
 * Thanks to
 * https://jwarby.github.io/jekyll-pygments-themes/languages/javascript.html
 */

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
