{{ partial "top.html" . }}
{{ if .Section }}
{{ partial "newsletter-top.html" . }}
{{ end }}

<div class="post-header">
  <small class="post-meta"><span class="author">{{ .Site.Author.name }}{{ if .Section }} - {{ end }}</span>{{ if .Section }}{{ .Date.Format "Jan 2, 2006" }}{{ end }}</small>
  <h1>{{ .Title }}</h1>
</div>

<article class="post-content">
  {{ .Content }}
</article>

{{ if .Section }}
{{ partial "newsletter-bottom.html" . }}
{{ end }}
{{ if .Section }}

<div class="post-footer">
  <img src="{{ "images/vo.png" | relURL }}" alt="Jorin Vogel" class="avatar" width="64px" height="64px" style="padding-left: 4px; padding-bottom: 4px; background: black;" />

  <p>
    Thanks for reading!
    <br>
    My name is Jorin and I am currently building a new feedback tool.
    <br>
    Feel free to send me a <a href="mailto:{{ .Site.Author.email }}">mail</a> or talk to me on <a href="https://twitter.com/intent/user?screen_name=jorinvo">twitter</a>.
  </p>
</div>
{{ end }}

{{ if .Params.comments }}
<div id="disqus_thread"></div>
<script type="text/javascript">
(function() {
  // Don't ever inject Disqus on localhost--it creates unwanted
  // discussions from 'localhost:1313' on your Disqus account...
  if (window.location.hostname == "localhost") return;
  var disqus_shortname = '{{ .Site.Params.disqus }}';
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}

{{ partial "bottom.html" . }}
