<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .IsPage }}{{ .Title }} &#8211; {{ end }}{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Author.name }}">

  <link href="{{ "index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <!-- Custom CSS -->
  <link href="{{ "css/custom.css" | relURL }}" rel="stylesheet">
</head>
