<!DOCTYPE html>
<html lang="{{ if hasPrefix .URL "/de" }}de{{ else }}en{{ end }}">
{{ partial "head.html" . }}
<body>
  <header>
    <div class="social">
       <a href="{{ .Site.BaseURL }}">Posts</a>
      <a href="{{ "about/" | relURL }}">About</a>
      <a type="application/rss+xml" href="{{ "index.xml" | relURL }}">RSS</a>
      <a href="https://github.com/{{ .Site.Params.github }}">Github</a>
      <a href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a>
      <a rel="me" href="https://mas.to/@jorin">Mastodon</a>
    </div>
  </header>
