RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

Redirect "/dirtymoney"  "https://gist.github.com/jorinvo"

ErrorDocument 404 /404.html

# Compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript
